
*.code-workspace
old/
big_saves/
big_saves_/
big_saves_4/
big_saves_D/
big_saves_over5/
saved_charts/
test_charts/
reports/
tmp_log/
fibo_big_saves/
Colab_CSV/

*.log
*.json
*.csv
*.zip
big_saves.zip
big_saves_.zip
node_modules

